$handle-color: $euiColorDarkestShade;
$handle-color-valid: $euiColorSuccess;
$handle-color-invalid: $euiColorDanger;

.reactflow-workspace {
  background: $euiColorEmptyShade;
}

.reactflow-parent-wrapper {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.reactflow-parent-wrapper .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.reactflow-workspace .react-flow__node {
  width: 300px;
  height: 250px;
}

.reactflow__group-node {
  width: 1200px;
  height: 700px;
  overflow-x: auto;
  overflow-y: auto;
  border: 'none';

  &__ingest {
    background: rgba($euiColorVis0, 0.3);
  }
  &__search {
    background: rgba($euiColorVis1, 0.3);
  }
}

.reactflow__resizable-node {
  background: rgba($euiColorSuccess, 0.3);
  border: 'none';
}

// Overriding the styling for the reactflow node when it is selected.
// We need to use important tag to override ReactFlow's wrapNode that sets the box-shadow.
// Ref: https://github.com/wbkd/react-flow/blob/main/packages/core/src/components/Nodes/wrapNode.tsx#L187
.reactflow-workspace .react-flow__node-customComponent.selected {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  &:focus {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5) !important;
  }
}

.reactflow-workspace .react-flow__handle {
  height: 10px;
  width: 10px;
  background: $handle-color;
}

.reactflow-workspace .react-flow__handle-connecting {
  background: $handle-color-invalid;
}

.reactflow-workspace .react-flow__handle-valid {
  background: $handle-color-valid;
}
