$handle-color: $euiColorLightShade;
$handle-color-valid: $euiColorSuccess;
$handle-color-invalid: $euiColorDanger;

.reactflow-workspace {
  background: $euiColorEmptyShade;
}

.reactflow-parent-wrapper {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.reactflow-parent-wrapper .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.reactflow-workspace .react-flow__node {
  width: 300px;
  min-height: 100px;
}

.reactflow__group-node {
  width: 1200px;
  height: 700px;
  border: 'none';

  &__ingest {
    background: rgba($euiColorLightShade, 0.3);
  }
  &__search {
    background: rgba($euiColorLightShade, 0.3);
  }
}

// Overriding the styling for the reactflow node when it is selected.
// We need to use important tag to override ReactFlow's wrapNode that sets the box-shadow.
// Ref: https://github.com/wbkd/react-flow/blob/main/packages/core/src/components/Nodes/wrapNode.tsx#L187
// TODO: when the node sizing is dynamic (e.g., 'min-height', it causes several issues:
// 1. the shadow only covers the min height instead of the node's final rendered height
// 2. the bounding edges of the parent node only fit with the 'min-height' amount, causing
//    the node to look like it can be drug slightly out of the parent node
.reactflow-workspace .react-flow__node-custom.selected {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  &:focus {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5) !important;
  }
}

.reactflow-workspace .react-flow__handle {
  height: 10px;
  width: 10px;
  background: $handle-color;
}

.reactflow-workspace .react-flow__handle-connecting {
  background: $handle-color-invalid;
}

.reactflow-workspace .react-flow__handle-valid {
  background: $handle-color-valid;
}
