.stretch-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.workflow-inputs-bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.workspace-panel {
  position: relative;
  height: 100%;
}

.workspace-panel .euiFlexItem[style*='overflow'] {
  padding-bottom: 60px;
}

.console-wrapper {
  flex: 0 0 auto;
  border-top: 1px;
  transition: height 0.3s ease-in-out;
  z-index: 5;
}

#workflow_inputs_panel_id {
  position: relative;
  overflow: visible;
}
