// Maximize space given its relative position
.stretch-relative {
  position: relative;
  height: 100%;
  width: 100%;
}

// Maximize space given its absolute position
.stretch-absolute {
  position: absolute;
  height: 100%;
  width: 100%;
}
