.workflow-detail {
  overflow: hidden;
}

.workflow-detail-last-updated {
  line-height: $euiFormControlCompressedHeight;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.console-panel-no-scroll::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.console-panel-no-scroll::-webkit-scrollbar-track {
  display: none;
}

.console-panel-no-scroll::-webkit-scrollbar-thumb {
  display: none;
}
