name: Build & test
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
env:
  OPENSEARCH_DASHBOARDS_VERSION: 'main'

jobs:
  Get-CI-Image-Tag:
    uses: opensearch-project/opensearch-build/.github/workflows/get-ci-image-tag.yml@main
    with:
      product: opensearch-dashboards

  build-and-test-linux:
    if: ${{ github.event.label.name != 'rapid' }}
    needs: Get-CI-Image-Tag
    name: Build & test
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    container:
      image: ${{ needs.Get-CI-Image-Tag.outputs.ci-image-version-linux }}
      options: --user root

    steps:
      - name: Checkout OpenSearch Dashboards
        uses: actions/checkout@v2
        with:
          repository: opensearch-project/OpenSearch-Dashboards
          ref: ${{ env.OPENSEARCH_DASHBOARDS_VERSION }}
          path: OpenSearch-Dashboards
      - name: Checkout plugin
        uses: actions/checkout@v2
        with:
          path: OpenSearch-Dashboards/plugins/dashboards-flow-framework
      - name: Bootstrap / build / unit test the plugin
        run: |
          chown -R 1000:1000 `pwd`
          cd ./OpenSearch-Dashboards/
          su `id -un 1000` -c "source $NVM_DIR/nvm.sh && nvm use && node -v && yarn -v &&
                               cd ./plugins/dashboards-flow-framework &&
                               whoami && yarn osd bootstrap && yarn build && yarn run test:jest --coverage"
      - name: Uploads coverage
        uses: codecov/codecov-action@v1

  # TODO: once github actions supports windows and macos docker containers, we can
  # merge these in to the above step's matrix, including adding windows support
  build-and-test-macos:
    if: ${{ github.event.label.name != 'rapid' }}
    name: Build & test
    strategy:
      matrix:
        os: [macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      # Enable longer filenames for windows
      - name: Enable longer filenames
        if: ${{ matrix.os == 'windows-latest' }}
        run: git config --system core.longpaths true
      - name: Checkout OpenSearch Dashboards
        uses: actions/checkout@v2
        with:
          repository: opensearch-project/OpenSearch-Dashboards
          ref: ${{ env.OPENSEARCH_DASHBOARDS_VERSION }}
          path: OpenSearch-Dashboards
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: './OpenSearch-Dashboards/.nvmrc'
          registry-url: 'https://registry.npmjs.org'
      - name: Install Yarn
        # Need to use bash to avoid having a windows/linux specific step
        shell: bash
        run: |
          YARN_VERSION=$(node -p "require('./OpenSearch-Dashboards/package.json').engines.yarn")
          echo "Installing yarn@$YARN_VERSION"
          npm i -g yarn@$YARN_VERSION
      - run: node -v
      - run: yarn -v
      - name: Checkout plugin
        uses: actions/checkout@v2
        with:
          path: OpenSearch-Dashboards/plugins/dashboards-flow-framework
      - name: Bootstrap the plugin
        run: |
          cd OpenSearch-Dashboards/plugins/dashboards-flow-framework
          yarn osd bootstrap
      - name: Build the plugin
        run: |
          cd OpenSearch-Dashboards/plugins/dashboards-flow-framework
          yarn build
      - name: Run unit tests
        run: |
          cd OpenSearch-Dashboards/plugins/dashboards-flow-framework
          yarn run test:jest --coverage
      - name: Uploads coverage
        uses: codecov/codecov-action@v1

